body {
    background-image: url('../img/background.jpg');
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.div-loginForm {
    background-color: #ffffff;

    display: flex;
    flex-wrap: wrap;

    max-height: fit-content;
    width: fit-content;
    max-width: 500px;
    
    scale: 1.3;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 22px;
    justify-content: space-around;

    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.295);

    border-radius: 15px;
}

.WrapCenteredInlineBlock {
    display: inline-block;
}

.mainMenu {


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 140px;
    gap: 10px;

    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 2%;
    left: 1%;

    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 10px;

    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.295);

}

table, th, td, tr{
    border:1px solid;
    border-collapse: collapse;
    padding: 10px;
    gap: 12px;
    max-height: 586px;
}

.productsList {
    overflow-y:auto;
    max-height: 586px;
    height: fit-content;
}

.productList {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 14px;
    gap: 10px;

    position: fixed;
    width: fit-content;
    height: fit-content;
    max-height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -60%);


    background: #ffffff;
    mix-blend-mode: normal;
    border-radius: 10px;

    box-shadow: 2px 3px 2px rgba(0, 0, 0, 0.295);
}

.productListAdd{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.productListAddInput{
    max-width: 95px;
    width: fit-content;
}

.menuListItem:hover {
    text-decoration: underline #000000;    
}

.ExitButton {
    position: fixed;
    top: 2%;
    background-color:#ffffff;
    left: 98%;
    transform: translate(-50%, -50%);
}

.div-twoButtonsContainer {
    display: flex;
    flex: auto;
    margin: 0 auto;
    justify-content: space-around;
}